block vars 
doctype html
html
  head
    title #{title}
    meta(name='author', content='Richard C Felix')
    meta(name='description' content='Node.js RestAPI')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    style.
        table{
            margin: 15px;
            background-color: #ebaf4e;
        }
        table, td, th{
            border: 1px solid #171717;
            border-collapse: collapse;
            text-align: center;
        }
        th{
            width: 150px;
        }
        body{
            background-color: #ccc4c4;
        }
        .odd{
            background-color: #f8d8a3;
        }
        .even{
            background-color: #7990b4;
        }
    
  body              
    block body
        
  
    
//    link(rel="icon" type="image/ico" href="../public/img/favicon.ico")
//        link(href='../public/css/style.css', rel='stylesheet', type='text/css')
