block vars 
doctype html
html
  head
    title #{title}
    meta(name='author', content='Richard C Felix')
    meta(name='description' content='Node.js RestAPI')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    
    link(href='/public/css/style.css', rel='stylesheet', type='text/css')
    
  body              
    block body
        
  
    
//    link(rel="icon" type="image/ico" href="../public/img/favicon.ico")
//        

