extends base

block vars
  - var title = 'Node.js RestAPI'

block body
    center
        h1 Edit
        form(method='POST', action='/api/#{user._id}?_method=PUT') 
            input(type='text' name='name' value='#{user.name}')
            br
            input(type='text' name='breed' value='#{user.breed}')
            br
            input(type='text' name='age' value='#{user.age}')
            br
            br
            button(type='submit') Save
  
  include script.jade
  include footer.jade