extends base

block vars
  - var title = 'Node.js RestAPI'

block body
    center
        h1 Welcome to a Node.js RestAPI Dog Kennel
        p This is where our are awesome dogs are held. 
        p Feel free to create, read, update and delete our dogs.
        button(type='button', onclick="window.location.href='/api'") View Dogs
        button(type='button', onclick="window.location.href='/create'") Create a Dog
        button(type='button', onclick="window.location.href='/api'") Edit a Dog
        button(type='button', onclick="window.location.href='/api'") Delete a Dog
  
  include script.jade
  include footer.jade